HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/q
/notes/SQL Querys.txt
/notes/another-way
/notes/Conseguir detalle paquete (funcionó)
/notes/Envio procedure.sql
/notes/Envio salida POSTMAN.json
/notes/newPrompt
/notes/Phind Prompt
/notes/prompt
/notes/Prompt definitivo (Funcionó)
/notes/remitente procedure
/notes/SQL Querys.sql
